@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Add these to your existing styles */
.animate-draw {
  stroke-width: 2;
  opacity: 0;
  animation: fadeIn 0.1s ease-out forwards;
}

.animate-draw-delayed-1,
.animate-draw-delayed-2 {
  stroke-width: 2;
  opacity: 0;
  animation: fadeIn 0.1s ease-out forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
